/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro similar a Netflix */
    color: #fff; /* Texto blanco */
    margin: 0;
    padding: 0;
}
/* Estilo para el encabezado */
h1 {
    color: #E50914; /* Rojo característico de Netflix */
}
/* Estilo para los contenedores principales */
#menu, #top10Peliculas, #top10Series, #mapa, #graficas {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilo para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff; /* Fondo blanco */
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
/* Estilo para el mapa interactivo */
#mapa {
    height: 400px;
}
/* Estilo para las gráficas */
#graficas {
    margin-top: 20px;
}
/* Estilo personalizado para elementos específicos de Netflix (por ejemplo, botones, íconos, etc.) */